#head{
    font-size: 25px;
    background-color: aquamarine;
    margin : 50px;
    
}
body{
    border-style: solid;
    border-color: yellow;
    border-width: 50px;
}

#para1,#para2{
    font-size: 20px;
    text-align: center;
    color: brown;
    background-color: black;
    margin: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    
    
    border-width: 20px 20px 20px 20px;

}
